<div class="wrapper col-md-4 col-md-offset-4 col-sm-10">
  <h1>コメントの編集</h1>
  <%= form_for([@topic,@comment], remote: true) do |f| %>
    <%= f.error_messages! %>
    <%= f.hidden_field :topic_id %>
    <div class="field">
      <%= f.label :コメント %><br>
      <%= f.text_field :content, placeholder: "内容", class: "form-control"  %>
    </div>
    <div class="actions">
      <%= f.submit '変更する', class: 'btn btn-default btn-block' %>
    </div>
  <% end %>
</div>
