<%= form_for(@topic) do |f| %>
  <%= f.error_messages! %>

  <div class="field">
    <%= f.label :タイトル %><br>
    <%= f.text_field :title, class: 'form-control', autofocus: true %>
  </div>
  <div class="field">
    <%= f.label :ゲームタイトル %><br>
    <%= f.text_field :game_title, class: 'form-control' %>
  </div>
  <div class="field">
    <%= f.text_area :content, class: 'form-control', placeholder: '今なにしてる？' %>
  </div>
  <div class="actions">
    <%= f.submit "投稿する", class: 'btn btn-primary btn-block' %>
  </div>
<% end %>
