<p id="notice"><%= notice %></p>

<%= link_to '新しく投稿する', new_topic_path %>

  <div class="topic-wrapper">
    <% @topics.each do |topic| %>
      <div class="topic-box">
        <div><%= topic.title %></div>
        <div><%= topic.game_title %></div>
        <div><%= topic.content %></div>
        <div><%= link_to 'Detail', topic, class: 'btn btn-default' %></div>
        <div><%= link_to 'Edit', edit_topic_path(topic), class: 'btn btn-default' %></div>
        <div><%= link_to 'Delete', topic, class: 'btn btn-danger', method: :delete, data: { confirm: '本当に削除しますか？' } %></div>
      </div>
    <% end %>
  </div>
