<div class="user-wrapper">
<h2>ユーザー</h2>
<% @users.each do |user| %>
  <div class="user-box follow-user-box col-md-7 col-sm-12 col-xs-12 ">
    <%= profile_img(user) %>
    <%= render 'follow_form', user: user %>
    <%= link_to 'ユーザー詳細', user_path(user), class: 'btn btn-xs btn-default pull-right' %>
    <ul>
      <li><%= user.name %></li>
      <li><%= user.email %></li>
    </ul>
  </div>
<% end %>
</div>
