<div class="user-wrapper col-md-4 col-md-offset-4 col-sm-10">
  <h2>ユーザー一覧</h2>
  <% @users.each do |user| %>
    <% if user.id != current_user.id %>
      <div class="user-box follow-user-box">
        <%= profile_img(user) %>
        <%= render partial: 'follow_form', locals: { user: user } if signed_in?   %>
        <%= link_to 'ユーザー詳細', user_path(user), class: 'btn btn-default pull-right' %>
        <%= link_to 'メッセージ', conversations_path(sender_id: current_user.id, recipient_id: user.id), method: 'post', class: 'btn btn-default pull-right' %>
        <ul>
          <li><%= user.name %></li>
          <li><%= user.email %></li>
        </ul>
      </div>
    <% end %>
  <% end %>
</div>
