<!DOCTYPE html>
<html>
<head>
  <title>GameFlat</title>
  <%= stylesheet_link_tag    'normalize', media: 'all', 'data-turbolinks-track' => true %>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <script src="https://js.pusher.com/3.2/pusher.min.js"></script>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <% if user_signed_in? %>
    <script>
      var pusher = new Pusher('<%= ENV["PUSHER_KEY"] %>',{
        encrypted: true
      });

      var channel = pusher.subscribe("user_<%= current_user.id %>_channel");
      channel.bind('comment_created', function(data) {
        alert(data.message);
      });
      channel.bind('notification_created', function(data) {
        $('#unread_count').html(data.unread_counts);
      });
    </script>
  <% end %>
</head>
<body>
  <header>
    <%= link_to "Game Flat", topics_path, class: 'logo' %>
    <div class="dropdown pull-right">
      <%= link_to  notifications_index_path do %>
        <i class="fa fa-bell fa-1x notice-btn"><span id="unread_count"><%= @notifications_count %></span></i>
      <% end %>
      <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
        <i class="fa fa-bars" aria-hidden="true"></i>
      </button>
      <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
        <li><%= link_to 'ユーザー検索', users_path if user_signed_in? %></li>
        <li><%= link_to "メッセージ", conversations_path %></li>
        <li role="separator" class="divider"></li>
        <% if user_signed_in? %>
          <li><%= link_to 'マイページ', edit_user_registration_path %></li>
          <li><%= link_to 'ログアウト', destroy_user_session_path, method: :delete %></li>
        <% else %>
          <li><%= link_to 'ログイン', new_user_session_path  %></li>
          <li><%= link_to 'サインアップ', new_user_registration_path %></li>
        <% end %>
      </ul>
    </div>
  </header>
  <p class="flash"><%= notice %><%= alert %></p>

<div class="container">
  <%= yield %>
</div>

  <footer>
    <p> &copy; 2016 Copyright KAZAKUMO GAMES Corp.</p>
  </footer>
</body>
</html>
